<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Excel Fuel</title>
        <base href="/"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="project-excel.3604a7c84939a2b37d84.css"><link rel="stylesheet" href="theme-excel.bfd2c0cb98fabbd81284.css"></head>
    <body>
        <app-root></app-root>
    <script src="runtime.b9ccabe6682a2c2735aa.js" defer></script><script src="polyfills.326ea43dd5830ec91a02.js" defer></script><script src="main.3aace6615bc3300f7dc6.js" defer></script></body>
</html>
